body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li, h1, h2, .learn-more {
    text-transform: uppercase;
}

.navbar {
    margin-top: 4rem;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    background-color: gray;
}

.right-container {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45%;
}
.learn-more {
    text-align: right;
}

.logo{
    text-align: center;
}

.bg-mask h2 {
    text-align: center;
}

//about

.about-section {
    margin-top: 5rem;
}

.about {
    display: flex;
    flex-direction: column;
    width: 24%;
    align-items: center;
}

.about-subtitle {
    width: 30rem;
}

.food-quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45%;
    width: 50%;
}

.quality-text {
    width: 40%
}